.month-header {
  position: absolute;
  margin: 0px;
  left: 40%;
}

.one-month-parent {
  position: relative;
  height: 100px;
  padding: 10px;
}

.time-highlight {
  background-color:#f9f4f4 !important;
}