.outcome {
  font-size: 9px;
  width: 50px;
  text-align: left;
  border: 1px solid #d5cec5;
  border-radius: 2px;
  padding: 3px;
  background-color: #f5f5f8;
  bottom: 70px;
  box-shadow: 1px 1px #d5cec5;

}

.outcome:hover {
  z-index: 1;
  box-shadow: 2px 1px #3498DB;
  
}

dl {
  margin: 0;
}

dd {
  margin: 0;
}

dt {
  display: none;
}

.outcome-date {
  display: none;
}
