.year-header {
 text-align: center;
}


.five-year-parent {
  position: relative;
  background-color: #fff;
  min-height:100vh;
}

.end-date {
  float: right;
  
}

.start-date {
  float: left;
}

.dates {
  text-transform: uppercase;
  font-size: 13px;
}




/*
I want the user to clearly know what time period they are in 
So I think I will just change the color of the section on scroll
and when that color changes the range will change
and I will do it using the offset thing




*/

