.outcome {
  font-size: 13px;
  width: 50px;
  text-align: left;
  border: 1px solid #d5cec5;
  border-radius: 2px;
  padding: 3px;
  background-color: #f5f5f8;
  box-shadow: 1px 1px #d5cec5;
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;
  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.outcome:hover {
  z-index: 1;
  box-shadow: 2px 1px #3498DB;
  
}

dl {
  margin: 0;
}

dd {
  margin: 0;
}

dt {
  display: none;
}

.outcome-date {
  display: none;
}
